<div class="comment-wrapper d-flex" *ngIf="!deleted">
    <div class="d-flex flex-column justify-content-end">
        <button class="btn px-0 pb-0 font-weight-bold" [disabled]="disabled"> ⋀ </button>
        <button class="btn px-0 pt-0 font-weight-bold" [disabled]="disabled"> ⋁ </button>
    </div>

    <div class="d-flex flex-column ml-2">
        <div class="alert alert-warning" *ngIf="errorMessage">
            {{errorMessage}}
        </div>
        <div class="comment-message">
            <pre *ngIf="!editing" class="m-0">{{comment.text?.trim()}}</pre>
            <form *ngIf="editing" action="javascript:void(0)" (submit)="SubmitEdit()">
                <div class="form-group d-flex flex-column">
                    <textarea 
                        type="text" class="form-control" name="comment" placeholder="Leave a comment" rows=5
                        [(ngModel)]="comment.text"></textarea>
                    <input 
                        type="submit" class="btn btn-primary justify-content-end" value="Submit"
                        [disabled]="disabled" [disabled]="disabled">
                </div>
            </form>
        </div>
    
        <div class="mt-auto comment-footer">
            <span class="username font-weight-bold">{{comment.username || 'Annonymous'}} </span>
            <span class="text-muted">{{comment.createdAt | date:'short'}} </span>
            <button class="btn font-weight-bold py-0" [disabled]="disabled" >Reply</button>
            <button 
                *ngIf="canEdit()"
                class="btn text-danger font-weight-bold py-0" 
                [disabled]="disabled"
                (click)="removeComment()">
                Remove
            </button>

            <button 
                *ngIf="canEdit()"
                class="btn text-secondary font-weight-bold py-0" 
                [disabled]="disabled"
                (click)="startEditing()">
                Edit
            </button>
        </div>
    </div>
</div>