<div class="container row justify-content-center">
    <div class="col col-md-8 col-lg-6 ">
        <h3>{{title}}</h3>
        <form>
            <div class="form-group">
                <label for="name">Name as seen on Wikipedia or the Wikibase ID</label>
                <input type="search" required class="form-control" name="name"
                    [(ngModel)]="searchQueryModel" (ngModelChange)="updateSugestions()">
            </div>
        </form>
    </div>
</div>

<div class="card-deck d-flex justify-content-center">
    <div *ngFor="let entity of wikiModel || []" class="d-flex col-4 mb-4">

        <!-- Entity card -->
        <div class="card m-0" >
            <img 
            *ngIf="entity.images"
            class="card-img-top person-card-image cursor-pointer" 
            src="{{entity.getImageUri(600)}}" 
            alt="Image of {{entity.name}}"
            >
            <div class="card-body">
                <a class="card-title" href="https://www.wikidata.org/wiki/{{entity.wikiId}}" target="_blank">
                    <h5>{{entity.name}} </h5>
                    <span class="text-muted">{{entity.wikiId}}</span>
                </a>
                <p>{{entity.description}} </p>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary float-right" (click)="selectEntity(entity)">Select</button>
            </div>
        </div>
    </div>  
</div>

<app-loading-indicator *ngIf="isLoading">
</app-loading-indicator>