<div class="row my-3 mx-4" >
    <!-- Logo -->
    <div class="col-sm-2 cursor-pointer" aria-selected="false"> 
        <h4 routerLink="/"> Comendie </h4>
    </div>

    <!-- Search bar -->
    <div class="col-sm-8  d-flex justify-content-center">
        <input type="text" class="w-75" placeholder="Search" value="" />
    </div>

    <!-- navigations -->
    <div class="login-navigations" class="col-sm-2">
        <a routerLink="/log-in"> Log in / </a> 
        <a routerLink="sign-up"> Sign up </a> 
    </div>

</div>