<div class="row my-3 mx-4" >
    <!-- Logo -->
    <div class="col-sm-2 cursor-pointer" aria-selected="false"> 
        <h4 routerLink="/"> Comendie </h4>
    </div>

    <!-- Search bar -->
    <div class="col-sm-8  d-flex justify-content-center">
        <input type="text" class="w-100" placeholder="Search" value="" />
    </div>

    <!-- navigations -->
    <div *ngIf="user?.isLoggedIn(); else navigations"  class="col-sm-2 justify-content-right">
        <div class="text-right">
            {{user.claims.preferred_username}}
        </div>
    </div>

    <ng-template #navigations>
        <div class="login-navigations" class="col-sm-1">
            <button class="btn" (click)="loginButtonClicked()"> Log in / </button> 
            <a routerLink="sign-up"> Sign up </a> 
        </div>
    </ng-template>
</div>