<div *ngIf="errorMessage" class="alert alert-danger">
    {{errorMessage}}
</div>

<app-loading-indicator *ngIf="!personas">
</app-loading-indicator>

<div *ngIf="personas" class="card-deck d-flex justify-content-center">
    
    <div *ngIf="!personas.length">
        Could not find any recomendations.
    </div>

    <app-persona-recommendations-card 
        *ngFor="let persona of personas" 
        [persona]="persona"
        class="d-flex mb-5"
    > 
    </app-persona-recommendations-card>
</div>

