
name: Continuous Integration and Deployment

on:
  push:
    branches: [ master, develop, test ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run build
      - run: npm run test:ci
      - run: npm run lint
  deploy:
    needs: [test]
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - run: npm ci
      - run: git config --global user.email "bondarenco.mihail@gmail.com"
      - run: git config --global user.name "${{github.actor}}"
      - run: npm run deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  lighthouse:
    runs-on: ubuntu-latest
    needs: [deploy]
    steps:
        - uses: actions/checkout@v2
        - name: Wake up backend
          run: curl https://recommendation-service.azurewebsites.net/api/personas
        - name: Audit URLs using Lighthouse
          uses: treosh/lighthouse-ci-action@v3
          with:
            urls: |
              https://bondarencom.gitub.io/Commendie-Frontend/
            uploadArtifacts: true # save results as an action artifacts
    
          
